@model IEnumerable<Cubes.Web.Models.UserIndexView>

@{
    ViewBag.Title = "Utilisateurs";
}

<h2 class="text-center">Liste des utilisateurs</h2>

<p>
    @*@Html.ActionLink("Nouveau", "Create", new { }, new { @class = "btn btn-primary" })*@
    <a href='@Url.Action("Create", "Users")' class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Nouveau</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomComplet)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Email)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.IsActivated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSuperAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsModerator)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th class="text-center">Actions</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomComplet)
        </td>

        @*<td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>*@

        @if (item.IsActivated == true)
        {
            <td class="text-center">
                <p class="alert-success">Actif</p>
            </td>
        }
        else
        {
            <td class="text-center">
                <p class="alert-danger">Bloqué</p>
            </td>
        }

        @if (item.IsSuperAdmin == true)
        {
            <td class="text-center">
                <p class="alert-success text-uppercase">oui</p>
            </td>
        }
        else
        {
            <td class="text-center">
                <p class="alert-danger text-uppercase">non</p>
            </td>
        }

        @if (item.IsAdmin == true)
        {
            <td class="text-center">
                <p class="alert-success text-uppercase">oui</p>
            </td>
        }
        else
        {
            <td class="text-center">
                <p class="alert-danger text-uppercase">non</p>
            </td>
        }

        @if (item.IsModerator == true)
        {
            <td class="text-center">
                <p class="alert-success text-uppercase">oui</p>
            </td>
        }
        else
        {
            <td class="text-center">
                <p class="alert-danger text-uppercase">non</p>
            </td>
        }

        <td>
            @if (!string.IsNullOrEmpty(item.Photo))
            {
                <img src="@Url.Content(item.Photo)" alt="Photo de l'utiliisateur" style="width:100px;height:100px;max-width: 100%; height: auto;" />
            }
        </td>
        <td>
            @*<a href='@Url.Action("Edit", "Users", new { id = item.IdUser })' class="btn btn-success" data-toggle="tooltip" title="Modifier"><i class="glyphicon glyphicon-pencil"></i> </a>*@
            <a href='@Url.Action("MyProfile", "Users", new { id = item.IdUser })' class="btn btn-warning" data-toggle="tooltip" title="Voir le profil"><i class="glyphicon glyphicon-eye-open"></i> </a>
            <a href='@Url.Action("Delete", "Users", new { id = item.IdUser })' class="btn btn-danger" data-toggle="tooltip" title="Supprimer l'utilisateur" onclick="return confirm('Etes-vous sûr de vouloir supprimer cet utilisateur ?')"><i class="glyphicon glyphicon-trash"></i> </a>
            <a href='@Url.Action("OnOffSuperAdmin", "Users", new { id = item.IdUser })' class="btn btn-success" data-toggle="tooltip" title="Définir comme Super Admin" onclick="return confirm('Définir cet utilisateur comme Super Admin ?')"><i class="glyphicon glyphicon-user"></i> </a>
            <a href='@Url.Action("OnOffAdmin", "Users", new { id = item.IdUser })' class="btn btn-primary" data-toggle="tooltip" title="Définir comme Administrateur" onclick="return confirm('Définir cet utilisateur comme Administrateur ?')"><i class="glyphicon glyphicon-off"></i> </a>
            <a href='@Url.Action("OnOffModerator", "Users", new { id = item.IdUser })' class="btn btn-default" data-toggle="tooltip" title="Définir comme Modérateur" onclick="return confirm('Définir cet utilisateur comme Modérateur ?')"><i class="glyphicon glyphicon-off"></i> </a>
            <a href='@Url.Action("ActivateUserAccount", "Users", new { id = item.IdUser })' class="btn btn-info" data-toggle="tooltip" title="Activer/Désactiver utilisateur" onclick="return confirm('Activer/Désactiver le compte de cet utilisateur ?')"><i class="glyphicon glyphicon-ban-circle"></i> </a>
        </td>
    </tr>
    }

</table>

