@model IEnumerable<Cubes.Web.Models.Ressource>

@{
    ViewBag.Title = "Ressources";
}

<br />
<br />
<h2 class="text-center">Liste des ressources</h2>

<p>
    <a href='@Url.Action("Create", "Ressources")' class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Nouveau</a>
</p>
<table class="table table-striped table-bordered" id="ressourceTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DatePublication)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categorie.Libelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPrivate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsValid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPublish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fichier)
        </th>
        <th class="text-center">Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatePublication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            @if (item.IsPrivate == true)
            {
                <td class="text-center">
                    <p class="alert-success text-uppercase">oui</p>
                </td>
            }
            else
            {
                <td class="text-center">
                    <p class="alert-danger text-uppercase">non</p>
                </td>
            }

            @if (item.IsValid == true)
            {
                <td class="text-center">
                    <p class="alert-success text-uppercase">oui</p>
                </td>
            }
            else
            {
                <td class="text-center">
                    <p class="alert-danger text-uppercase">non</p>
                </td>
            }

            @if (item.IsPublish == true)
            {
                <td class="text-center">
                    <p class="alert-success text-uppercase">oui</p>
                </td>
            }
            else
            {
                <td class="text-center">
                    <p class="alert-danger text-uppercase">non</p>
                </td>
            }
            <td>
                @if (!string.IsNullOrEmpty(item.Fichier))
                {
                    if (item.Fichier.Contains(".jpg") || item.Fichier.Contains(".png") || item.Fichier.Contains(".gif") || item.Fichier.Contains(".tiff") || item.Fichier.Contains(".jfif"))
                    {
                        <img src="@Url.Content(item.Fichier)" alt="Fichier joint" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                    }
                    else if (item.Fichier.Contains(".mp4"))
                    {
                        <div class="video-frame">
                            <video style="width:100px; height:100px" controls download>
                                <source src="@Url.Content(item.Fichier)" type="video/mp4" au autstart="true" loop="false" runat="server" style="border: gray 1px solid" />
                            </video>
                        </div>
                    }
                    else if (item.Fichier.Contains(".avi"))
                    {
                        <div class="video-frame">
                            <video style="width:100px; height:100px" controls>
                                <source src="@Url.Content(item.Fichier)" type="video/avi" autstart="true" loop="false" runat="server" style="border: gray 1px solid" />
                            </video>
                        </div>
                    }
                    else if (item.Fichier.Contains(".webm"))
                    {
                        <div class="video-frame">
                            <video style="width:100px; height:100px" controls>
                                <source src="@Url.Content(item.Fichier)" type="video/webm" autstart="true" loop="false" runat="server" style="border: gray 1px solid" />
                            </video>
                        </div>
                    }
                    else if (item.Fichier.Contains(".mp3"))
                    {
                        <div class="audio-frame">
                            <audio style="width:100px; height:100px" controls>
                                <source src="@Url.Content(item.Fichier)" type="audio/mp3" autstart="true" loop="false" runat="server" style="border: gray 1px solid" />
                            </audio>
                        </div>
                    }
                    else if (item.Fichier.Contains(".aac"))
                    {
                        <div class="audio-frame">
                            <audio style="width:100px; height:100px" controls>
                                <source src="@Url.Content(item.Fichier)" type="audio/aac" autstart="true" loop="false" runat="server" style="border: gray 1px solid" />
                            </audio>
                        </div>
                    }
                    else if (item.Fichier.Contains(".mp4"))
                    {
                        <div class="audio-frame">
                            <audio style="width:100px; height:100px" controls>
                                <source src="@Url.Content(item.Fichier)" type="audio/mp4" autstart="true" loop="false" runat="server" style="border: gray 1px solid" />
                            </audio>
                        </div>
                    }
                    else if (item.Fichier.Contains(".pdf"))
                    {
                        <p style="width:100px;height:100px;"><a href="@Url.Content(item.Fichier)" target="_blank" data-toggle="tooltip" title="Ouvrir le fichier"><img src="~/Content/Files/icons8-pdf_64.png" /></a></p>
                        @*<p style="width:100px;height:100px;"><a href="@Url.Content(item.Fichier)" target="_blank"><img src="~/Content/Files/icons8-pdf.png" /></a></p>*@
                    }
                    else if (item.Fichier.Contains(".docx"))
                    {
                        <p style="width:100px;height:100px;"><a href="@Url.Content(item.Fichier)" data-toggle="tooltip" title="Télécharger le fichier" download><img src="~/Content/Files/icons8-microsoft-word-2019-64.png" /></a></p>
                    }
                    else if (item.Fichier.Contains(".xls") || item.Fichier.Contains(".xlsx"))
                    {
                        <p style="width:100px;height:100px;"><a href="@Url.Content(item.Fichier)" data-toggle="tooltip" title="Télécharger le fichier" download><img src="~/Content/Files/icons8-microsoft-excel-2019-64.png" /></a></p>
                    }
                    else if (item.Fichier.Contains(".pptx"))
                    {
                        <p style="width:100px;height:100px;"><a href="@Url.Content(item.Fichier)" data-toggle="tooltip" title="Télécharger le fichier" download><img src="~/Content/Files/icons8-microsoft-powerpoint-2019-64.png" /></a></p>
                    }
                }
            </td>
        </tr>
    }

</table>
